@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 45px;
    font-family: var(--fonte1);
}

header > h1{
    font-size: 10vw;
    padding-top: 50px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-weight: normal;
}


a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


section{
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
    padding-left: 30px;
    line-height: 2em;

}

section > p{
    padding-bottom: 2em;
}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
}
section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: center right;
    background-size: cover;
}

section.imagem {
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
}

section.imagem > p{
    padding: 5px;
    display: inline-block;
    background-color:  rgba(0, 0, 0, 0.514);
    color: white;
    text-shadow: 2px 2px 1px black;
    background-attachment: fixed;
}


footer{
    background-color: black;
    color: white;
    padding: 10px;
    font-family: var(--fonte1);
    text-align: center;
}
